---
import ConcertPerfromedSongStatisticsList from "@/components/ConcertPerfromedSongStatisticsList.astro";
import { defaultLang } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const concerts = await getCollection("concert", (concert) => {
  const [concertLanguage] = concert.id.split("/");
  return concertLanguage === defaultLang;
});
---

<Layout title="Statistics">
  <div class="max-w-3xl mx-auto px-6 py-8">
    <ConcertPerfromedSongStatisticsList concerts={concerts} />
  </div>
</Layout>
