---
import { getCollection } from 'astro:content'
import Button from '@/components/Button.astro'
import ConcertList from '@/components/ConcertList.astro'
import { defaultLang, languages } from '@/i18n/ui'
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'

const urlLanguage = getLangFromUrl(Astro.url)
const t = useTranslations(urlLanguage)
const translatePath = useTranslatedPath(urlLanguage)

const concerts = await getCollection('concert', (concert) => {
  const [concertLanguage] = concert.id.split('/')
  return concertLanguage !== defaultLang
})

export async function getStaticPaths() {
  return Object.entries(languages)
    .filter(([locale]) => locale !== defaultLang)
    .map(([locale]) => {
      return {
        params: {
          lang: locale,
        },
      }
    })
}
---

<Layout title="Concert">
  <ConcertList concerts={concerts} language={urlLanguage} />
  <slot slot="header-right">
    <a href={translatePath(`/concert/table`)}>
      <Button>
        <Icon name="ph:table" class="w-4 h-4 mr-2" />
        {t("concert.tableView")}
      </Button>
    </a>
  </slot>
</Layout>
