---
import { getCollection } from 'astro:content'
import Button from '@/components/Button.astro'
import ConcertTableView from '@/components/ConcertTableView.astro'
import { defaultLang } from '@/i18n/ui'
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils'
import ConcertTableLayout from '@/layouts/ConcertTableLayout.astro'
import { Icon } from 'astro-icon/components'

const concerts = await getCollection('concert', (concert) => {
  const [concertLanguage] = concert.id.split('/')
  return concertLanguage === defaultLang
})

const urlLanguage = getLangFromUrl(Astro.url)
const t = useTranslations(urlLanguage)
const translatePath = useTranslatedPath(urlLanguage)
---

<ConcertTableLayout title="Concert">
  <ConcertTableView concerts={concerts} />
  <slot slot="header-right">
    <a href={translatePath(`/concert`)}>
      <Button>
        <Icon name="ph:list-dashes" class="w-4 h-4 mr-2" />
        {t("concert.listView")}
      </Button>
    </a>
  </slot>
</Layout>
