---
import { defaultLang } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import "@/assets/markdown.css";
import AboutContainer from "@/components/AboutContainer.astro";

const abouts = await getCollection("about", (song) => {
  const [aboutLanguage] = song.id.split("/");
  return aboutLanguage === defaultLang;
});

const aboutRenderResult =
  abouts.length > 0 ? await render(abouts[0]) : undefined;
---

<Layout title="About" hideDefaultTitle={true}>
    <AboutContainer renderResult={aboutRenderResult} />
  </div>
</Layout>

