---
import Layout from "@/layouts/Layout.astro";

import { getCollection } from "astro:content";
import { defaultLang } from "@/i18n/ui";
import SongGroupList from "@/components/SongGroupList.astro";

const songs = await getCollection("song", (song) => {
  const [lyricLanguage] = song.slug.split("/");
  return lyricLanguage === defaultLang;
});
---

<Layout title="Lyric">
  <div class="max-w-3xl mx-auto px-6 py-8">
    <SongGroupList songs={songs} />
  </div>
</Layout>
