---
import { cn } from '@/utils/utils'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {
  id?: string
  disabled?: boolean
  square?: boolean
  title?: string
  buttonClass?: string
}

const { id, disabled, square, title, buttonClass, ...rest } = Astro.props as Props
---

<button
  id={id}
  disabled={disabled}
  title={title}
  class={cn(
    "h-7 inline-flex bg-[var(--background)] text-[var(--foreground)] dark:border-zinc-700/90 dark:hover:bg-zinc-700/60 items-center justify-center whitespace-nowrap rounded-md text-xs sm:text-sm border disabled:opacity-50 hover:bg-gray-100 transition-colors px-2 py-1 duration-200 disabled:cursor-not-allowed",
    square && "w-7 p-1",
    buttonClass,
  )}
  {...rest}
>
  <slot />
</button>
