---
import { cn } from "@/utils";

interface Props {
  id?: string;
  disabled?: boolean;
  square?: boolean;
  title?: string;
  [key: string]: any;
}

const { id, disabled, square, title, ...rest } = Astro.props as Props;
---

<button
  id={id}
  disabled={disabled}
  title={title}
  class={cn(
    "inline-flex bg-white items-center justify-center whitespace-nowrap rounded-md text-sm font-medium border disabled:opacity-50 hover:bg-gray-100 transition-colors px-2 py-1 duration-200",
    square && "h-7 w-7 p-1"
  )}
  {...rest}
>
  <slot />
</button>
