---
import "@fontsource/cinzel/700.css";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
import { DEFAULT_TITLE } from "@/constants";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header
  class="bg-white/75 dark:bg-zinc-900/50 sm:h-12 h-[var(--mobile-header-height)] w-full shadow-md backdrop-blur-xl fixed top-0 left-0 z-10 px-3 sm:px-10 transition-all print:hidden flex items-center"
>
  <div class="max-w-3xl w-full flex items-center justify-between mx-auto sm:px-6">
    <a href={translatePath("/")}>
      <div
        class="text-[var(--foreground)] flex gap-1 items-center font-['Cinzel'] sm:text-xl text-sm"
      >
        <div>{DEFAULT_TITLE}</div>
        <div>·</div>
        <div>Lyrics</div>
      </div>
    </a>
    <nav>
      <div class="flex gap-2">
        <slot name="header-right" />
        <LanguageSwitcher labelClass="sm:flex hidden" />
        <Button
          square
          id="mobile-menu"
          title={t("header.mobileMenu")}
          aria-label={t("header.mobileMenu")}
          buttonClass="inline-flex sm:hidden"
        >
          <Icon name="ph:list-bold" />
        </Button>
      </div>
    </nav>
  </div>
</header>
<div
  id="drawer-container"
  class="absolute max-w-[24rem] w-3/4 translate-x-[-100%] duration-500 ease-in-out transition-transform bg-white/80 dark:bg-zinc-900/80 backdrop-blur left-0 top-0 h-svh z-50 justify-center overflow-y-auto flex flex-col py-5 rounded-tr-xl rounded-br-xl"
>
  <div
    class="absolute right-0 top-0"
    title={t("header.closeMobileMenu")}
    aria-label={t("header.closeMobileMenu")}
  >
    <Icon
      name="ph:x-bold"
      class="mt-3 mr-3 h-6 w-6 cursor-pointer"
      id="close-drawer"
    />
  </div>
  <div class="flex flex-col gap-4 flex-1 h-0 justify-center">
    <a
      class="transition-all text-xl duration-50 flex items-center gap-3 group flex-shrink-0 px-5 py-1.5 text-gray-500 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-200 cursor-pointer"
      href={translatePath("/")}
    >
      <Icon name="ph:article-ny-times" class="w-6 h-6" />
      <span>{t("header.lyric")}</span>
    </a>
    <a
      class="transition-all text-xl duration-50 flex items-center gap-3 group flex-shrink-0 px-5 py-1.5 text-gray-500 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-200 cursor-pointer"
      href={translatePath("/concert")}
    >
      <Icon name="ph:microphone-stage" class="w-6 h-6" />
      <span>{t("header.concert")}</span>
    </a>
  </div>
  <div class="flex-shrink-0 mx-5">
    <LanguageSwitcher selectClass="w-full" labelClass="h-[32px]" />
  </div>
</div>
<div
  id="mobile-menu-background"
  class="bg-gray-600/20 dark:bg-black/80 absolute top-0 left-0 z-20 w-screen h-svh transition-opacity duration-500 translate-x-[-100%] opacity-0"
>
</div>

<script>
  const mobileMenuButton = document.getElementById("mobile-menu");
  const closeDrawerButton = document.getElementById("close-drawer");
  const mobileMenuBackground = document.getElementById(
    "mobile-menu-background"
  );
  const drawerContainer = document.getElementById("drawer-container");
  const bodies = document.getElementsByTagName("body");

  const toggleMobileMenu = () => {
    if (bodies.length > 0) {
      const body = bodies[0];
      if (drawerContainer?.classList.contains("translate-x-[-100%]")) {
        // Drawer is invisible, turn it on
        body.dataset.drawerVisible = "true";
        drawerContainer?.classList.remove("translate-x-[-100%]");
        drawerContainer?.classList.add("shadow-2xl");
        mobileMenuBackground?.classList.remove("translate-x-[-100%]");
        mobileMenuBackground?.classList.remove("opacity-0");
        mobileMenuBackground?.classList.add("opacity-100");
      } else {
        // Drawer is visible, turn it off
        body.dataset.drawerVisible = "false";
        mobileMenuBackground?.classList.remove("opacity-100");
        mobileMenuBackground?.classList.add("opacity-0");
        mobileMenuBackground?.classList.add("translate-x-[-100%]");
        drawerContainer?.classList.remove("shadow-2xl");
        drawerContainer?.classList.add("translate-x-[-100%]");
      }
    }
  };

  mobileMenuButton?.addEventListener("click", toggleMobileMenu);
  mobileMenuBackground?.addEventListener("click", toggleMobileMenu);
  closeDrawerButton?.addEventListener("click", toggleMobileMenu);
</script>
