---
import { languages } from "@/i18n/ui";
import { Icon } from "astro-icon/components";
import { localizedUrl } from "@/i18n/utils";
import { cn } from "@/utils";

interface Props {
  labelClass?: string;
  selectClass?: string;
}

function localizedPathname(locale: string): string {
  return localizedUrl(Astro.url, locale).pathname;
}

const currentPathname = Astro.url.pathname;

const props: Props = Astro.props;
---

<label
  class={cn(
    "flex items-center gap-1 relative rounded-md border cursor-pointer hover:bg-gray-100 transition-colors duration-200 h-7",
    props.labelClass
  )}
>
  <Icon
    name="ph:translate"
    class="cursor-pointer absolute left-1 pointer-events-none"
  />
  <select
    class={cn(
      "cursor-pointer w-[6.6rem] h-full pl-6 rounded-md bg-transparent appearance-none text-sm",
      props.selectClass
    )}
    onchange="(function(target){window.location.pathname = target.value})(this)"
  >
    {
      Object.entries(languages).map(([locale, language]) => (
        <option
          value={localizedPathname(locale)}
          selected={localizedPathname(locale) === currentPathname}
        >
          {language}
        </option>
      ))
    }
  </select>
  <Icon
    name="ph:caret-down-bold"
    class="cursor-pointer absolute right-1 pointer-events-none"
  />
</label>
