---
import { formatLyricsLines } from '@/utils/lyrics'
import { cn } from '@/utils/utils'

interface Props {
  lyricsBody: string
}

const { lyricsBody } = Astro.props

const HIGHLIGHT_TEXT_COLOR = 'text-rose-500'

const lyricLines = formatLyricsLines(lyricsBody)
---

<>
  {
    lyricLines.map(lyricLine => (
      <>  
        {
          lyricLine.toneText && 
          <p class={cn(lyricLine.isHightlight && HIGHLIGHT_TEXT_COLOR, "leading-tight opacity-65 font-serif break-words hidden lyric-tone")} aria-hidden="true">{lyricLine.toneText}</p>
        }
        {
          lyricLine.toneText2 && 
          <p class={cn(lyricLine.isHightlight && HIGHLIGHT_TEXT_COLOR, "leading-tight opacity-70 font-serif break-words hidden lyric-tone2")} aria-hidden="true">{lyricLine.toneText2}</p>
        }
        <p class={cn(lyricLine.isHightlight && HIGHLIGHT_TEXT_COLOR, "lyric-text-line")}>{lyricLine.text}</p>
      </>
    ))
  }
</div>