---
import type { CollectionEntry } from 'astro:content'
import { defaultLang } from '@/i18n/ui'
import { generateContentGroupsByFirstLetter } from '@/utils'
import Badge from './Badge.astro'

interface Props {
  songs: CollectionEntry<'song'>[]
}

const props: Props = Astro.props

const songGroups = generateContentGroupsByFirstLetter(
  props.songs,
  (song) => song.id.replace(/(\.md)+$/, '').split('/'),
  defaultLang
)
---

<div class="flex flex-col">
  {
    songGroups.map((songGroup) => (
      <div class="flex border-b last:border-b-0 dark:border-b-zinc-700/90 min-h-12">
        <div class="flex items-center h-12 w-10 text-gray-400 flex-shrink-0">
          {songGroup.key}
        </div>
        <div class="flex flex-col flex-1">
          {songGroup.list.map((song) => (
            <a href={song.url} title={song.data.title} class="song-group-link">
              <span class="text-wrap">{song.data.title}</span>
              {song.data.hasBanlamTone && <Badge>台</Badge>}
            </a>
          ))}
        </div>
      </div>
    ))
  }
</div>
