---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { defaultLang, languages } from "@/i18n/ui";
import Badge from "@/components/Badge.astro";
import { slugify } from "@/utils";
import { getLangFromUrl } from "@/i18n/utils";

const urlLanguage = getLangFromUrl(Astro.url);

const songs = await getCollection("song", (song) => {
  const [lyricLanguage] = song.slug.split("/");
  return lyricLanguage === urlLanguage;
});

export async function getStaticPaths() {
  return Object.entries(languages)
    .filter(([locale]) => locale !== defaultLang)
    .map(([locale]) => {
      return {
        params: {
          lang: locale,
        },
      };
    });
}
---

<Layout title="Lyric">
  <div class="flex flex-col gap-2 max-w-3xl mx-auto px-6 py-8">
    {
      songs.map((song) => {
        const [lyricLanguage, ...slug] = song.slug.split("/");
        return (
          <a
            href={`/${lyricLanguage}/song/${slugify(slug.join())}`}
            class="flex items-center gap-1"
          >
            {song.data.title}
            {song.data.hasBanlamTone && <Badge>台</Badge>}
          </a>
        );
      })
    }
  </div>
</Layout>
