---
import Header from '@/components/Header.astro'
import '@/styles/main.css'
import Head from '@/components/Head.astro'
import { DEFAULT_TITLE } from '@/constants'

interface Props {
  title: string | string[]
  hideDefaultTitle?: boolean
}

const { title, hideDefaultTitle } = Astro.props

const pageTitle = hideDefaultTitle
  ? title || DEFAULT_TITLE
  : title
    ? `${Array.isArray(title) ? title.join(' | ') : title} | ${DEFAULT_TITLE}`
    : DEFAULT_TITLE
---

<!doctype html>
<html lang="zh">
  <head>
    <Head pageTitle={pageTitle} />
  </head>
  <body
    class="bg-[var(--background)] data-[drawer-visible=true]:overflow-hidden mt-[var(--mobile-header-height)] sm:mt-[var(--header-height)] print:mt-0 print:bg-white"
    data-drawer-visible="false"
  >
    <Header>
      <slot slot="header-right" name="header-right" />
    </Header>
    <main>
      <slot />
    </main>
  </body>
</html>
