---
import { DEFAULT_TITLE } from '@/constants'
import '@/styles/main.css'
import Head from '@/components/Head.astro'

interface Props {
  title: string | string[]
}

const { title } = Astro.props

const pageTitle = title ? `${Array.isArray(title) ? title.join(' | ') : title} | ${DEFAULT_TITLE}` : DEFAULT_TITLE
---

<!doctype html>
<html lang="zh">
  <head>
    <Head pageTitle={pageTitle} />
  </head>
  <body class="bg-[var(--background)] print:bg-white">
    <main>
      <slot />
    </main>
  </body>
</html>
