---
import Header from "@/components/Header.astro";
import { DEFAULT_TITLE } from "@/constants";
import "@/assets/main.css";

interface Props {
  title: string | string[];
}

const { title } = Astro.props;

const pageTitle = title
  ? `${Array.isArray(title) ? title.join(" | ") : title} | ${DEFAULT_TITLE}`
  : DEFAULT_TITLE;
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,viewport-fit=cover,user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class="bg-[var(--background)] data-[drawer-visible=true]:overflow-hidden mt-[var(--mobile-header-height)] print:mt-0 print:bg-white"
  >
    <Header>
      <slot slot="header-right" name="header-right" />
    </Header>
    <main>
      <slot />
    </main>
  </body>
</html>
