---
import Header from "@/components/Header.astro";
import "@/assets/main.css";
import { DEFAULT_TITLE } from "@/constants";
import Head from "@/components/Head.astro";

interface Props {
  title: string | string[];
  hideDefaultTitle?: boolean;
}

const { title, hideDefaultTitle } = Astro.props;

const pageTitle = hideDefaultTitle
  ? title || DEFAULT_TITLE
  : title
    ? `${Array.isArray(title) ? title.join(" | ") : title} | ${DEFAULT_TITLE}`
    : DEFAULT_TITLE;
---

<!doctype html>
<html lang="zh">
  <head>
    <Head pageTitle={pageTitle} />
  </head>
  <body
    class="bg-[var(--background)] data-[drawer-visible=true]:overflow-hidden mt-[var(--mobile-header-height)] print:mt-0 print:bg-white"
    data-drawer-visible="false"
  >
    <Header>
      <slot slot="header-right" name="header-right" />
    </Header>
    <main
      class="min-h-[calc(100dvh-var(--mobile-header-height))] sm:min-h-[calc(100dvh-var(--header-height))]"
    >
      <slot />
    </main>
  </body>
</html>
